@model ProjetoParaProjetos.Models.Nota

@{
    ViewData["Title"] = "Create";

    var categorias = new List<string> { "Front-End", "Trabalho", "Back-End","Data-Science", "Vestibular", "FullStack",
"Computação", "Outros" };

}

<h1>Create</h1>

<h4>Nota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select name="Categoria" id="Categoria">
                    @foreach (var categoria in categorias)
                    {
                        <option name="Categoria" id="Categoria" value="@categoria">@categoria</option>
                    }
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>





            <input type="hidden" name="DataCriacao" value="@DateTime.Now" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
