
<body>
  <div class="container">
    <div class="section">
      <div class="icon"><i class="fa-solid fa-code"></i>
      </div>
      <h2 class="title">Projetos</h2>
      <p class="text">Acompanhar seus projetos é fundamental para garantir que você esteja no caminho certo e cumprindo seus objetivos. Com nosso recurso de projetos, você pode organizar suas tarefas e acompanhar seu progresso de maneira fácil e eficiente.</p>
    </div>
    <div class="section">
      <div class="icon"><i class="fa-solid fa-book"></i></div>
      <h2 class="title">Tarefas</h2>
      <p class="text">Anote suas tarefas diárias e nunca mais esqueça de nada importante. Com nosso recurso de tarefas, você pode criar listas de afazeres e marcar as tarefas concluídas para manter-se organizado e produtivo.</p>
    </div>
    <div class="section">
      <div class="icon"><i class="fa-solid fa-list-check"></i></div>
      <h2 class="title">Anotações</h2>
      <p class="text">Fazer anotações é uma ótima maneira de registrar informações importantes e organizar seus pensamentos. Com nosso recurso de anotações, você pode criar notas rápidas e acessá-las facilmente sempre que precisar.</p>
    </div>
    <div class="section">
      <div class="icon"><i class="fa-solid fa-bolt"></i></div>
      <h2 class="title">Flashcards</h2>
      <p class="text">Os flashcards são uma ferramenta poderosa para ajudar no aprendizado e na memorização de informações. Com nosso recurso de flashcards, você pode criar cartões personalizados para estudar e testar seus conhecimentos de maneira divertida e eficaz.</p>
    </div>
  </div>
</body>
